project-4-boss-machine-solution/.gitignore
project-4-boss-machine-solution/index.html
project-4-boss-machine-solution/package.json
project-4-boss-machine-solution/README.md
project-4-boss-machine-solution/server.js
project-4-boss-machine-solution/webpack.config.js
project-4-boss-machine-solution/browser/index.js
project-4-boss-machine-solution/browser/utils.js
project-4-boss-machine-solution/browser/components/AllIdeas.js
project-4-boss-machine-solution/browser/components/AllMeetings.js
project-4-boss-machine-solution/browser/components/AllMinions.js
project-4-boss-machine-solution/browser/components/App.js
project-4-boss-machine-solution/browser/components/Heading.js
project-4-boss-machine-solution/browser/components/Home.js
project-4-boss-machine-solution/browser/components/Idea.js
project-4-boss-machine-solution/browser/components/IdeaDescription.js
project-4-boss-machine-solution/browser/components/IdeaEdit.js
project-4-boss-machine-solution/browser/components/IdeaListItem.js
project-4-boss-machine-solution/browser/components/Meeting.js
project-4-boss-machine-solution/browser/components/Minion.js
project-4-boss-machine-solution/browser/components/MinionDescription.js
project-4-boss-machine-solution/browser/components/MinionEdit.js
project-4-boss-machine-solution/browser/components/SingleWorkRow.js
project-4-boss-machine-solution/browser/components/SingleWorkRowDescription.js
project-4-boss-machine-solution/browser/components/SingleWorkRowEdit.js
project-4-boss-machine-solution/browser/components/Work.js
project-4-boss-machine-solution/browser/store/appState.js
project-4-boss-machine-solution/browser/store/ideas.js
project-4-boss-machine-solution/browser/store/index.js
project-4-boss-machine-solution/browser/store/meetings.js
project-4-boss-machine-solution/browser/store/minions.js
project-4-boss-machine-solution/browser/store/selectedIdea.js
project-4-boss-machine-solution/browser/store/selectedMinion.js
project-4-boss-machine-solution/browser/store/work.js
project-4-boss-machine-solution/public/css/reset.css
project-4-boss-machine-solution/public/css/style.css
project-4-boss-machine-solution/public/img/add_button.svg
project-4-boss-machine-solution/public/img/arrow.svg
project-4-boss-machine-solution/public/img/favicon.ico
project-4-boss-machine-solution/public/img/logo.svg
project-4-boss-machine-solution/public/img/minion_icon_home.svg
project-4-boss-machine-solution/public/img/minion_icon_money.svg
project-4-boss-machine-solution/public/img/minion.svg
project-4-boss-machine-solution/public/img/Page 1.svg
project-4-boss-machine-solution/public/img/x_button-trans.svg
project-4-boss-machine-solution/public/img/x_button.svg
project-4-boss-machine-solution/server/api.js
project-4-boss-machine-solution/server/checkMillionDollarIdea.js
project-4-boss-machine-solution/server/db.js
project-4-boss-machine-solution/server/ideas.js
project-4-boss-machine-solution/server/meetings.js
project-4-boss-machine-solution/server/minions.js
project-4-boss-machine-solution/test/test.js
project-4-boss-machine-solution.zip
